[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.70.0"
neomodel = "*"
networkx = "*"

[dev-packages]
jedi-language-server = "*"
neovim = "*"
uvicorn = "*"
pytest = "*"
pytest-watch = "*"
requests = "*"
pynvim = "*"

[requires]
python_version = "3.9"
python_full_version = "3.9.16"

[scripts]
dev  = "uvicorn main:app --reload"
prod = "uvicorn main:app"
test = "pytest"
tw   = "pytest-watch -- -v -s --durations=0 --ff"
